.main-quizCompleto {
  background-color: rgb(1, 74, 129);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.main-scoreLayout {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 450px;
  width: 550px;
  border-radius: 50px;
  background-color: rgb(30, 38, 62);
}

.main-questionAnswers{
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: .2rem .2rem;
  width: 90%;
  margin-top: 1rem;
}

.main-answered {
  color: white;
  font-size: 20px;
  display: flex;
  justify-content: center;
  border: 1px solid rgb(41, 104, 168);
}

.main-answerQuestion{
  color: white;
  font-size: 20px;
}

.main-options {
  display: flex;
  justify-content: center;
  height: 33%;
  width: 400px;
}

.main-nextOrRetry {
  margin: 1rem;
  color: white;
  font-size: 20px;
  border: 2px solid rgb(41, 104, 168);
  width: 150px;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  text-transform: capitalize;
}